<% if @mentors.present? %>
  <ul class="mentorLinks">
    <% @mentors.each do |mentor| %>
      <% @mentor = mentor %>
      <%= render "mentorlink", :locals =>{post: @mentor} %>
    <% end %>
  </ul>
<% else %>
  <p>
    No mentors available
  </p>
<% end %>