<div id="studentsDiv">
  <div id="rankingsDiv">
    <h2></h2>
    <h2 class="subheader">
      Your Current Mentee Rankings
    </h2>
    <% if @rankings.present? %>
      <ol id="ranks">
        <% @rankings.each do |rank| %>
          <%= render rank %>
        <% end %>
      </ol>
    <% else %>

    <% end %>
  </div>
  <h2 class="subheader">View Mentee Profiles</h2>
  <div id="studentsLinksDiv">
      <%= select_tag "filter", "<option>All Students</option>
                                <option>Students in Rails Class</option>
                                <option>Students Interested in #{@user.career_company_private}</option>".html_safe,
                                id: "filterStudents" %>
      <% if @students.present? %>
        <ul class="studentLinks">
          <% @students.each do |student| %>
            <% @student = student %>
            <%= render "studentlink", :locals =>{post: @student} %>
          <% end %>
        </ul>
      <% else %>
        <p>
          No students
        </p>
      <% end %>
  </div>
</div>
<div id="showcase" class="small-9 columns">
</div>