<div id="studentsDiv">
    <h2 class="subheader">
      Your Mentees
    </h2>
    <% if @current_mentees.present? %>
      <ul class="studentLinks">
        <% @current_mentees.each do |mentee| %>
          <% @mentee = mentee %>
          <%= render "menteelink", :locals =>{post: @mentee} %>
        <% end %>
      </ul>
    <% else %>
      <p class="emptyStudents">
        No current pairings
      </p>
    <% end %>
  <div id="rankingsDiv">
    <h2 class="subheader">
      Your Current Mentee Rankings
    </h2>
    <% if @rankings.present? %>
      <ol id="ranks">
        <% @rankings.each do |rank| %>
          <%=  render rank %>
        <% end %>
      </ol>
    <% else %>
      <p class="emptyStudents">
        No current students
      </p>
    <% end %>
  </div>
  <h2 class="subheader">View Mentee Profiles</h2>
  <div id="filter">
    <a href="#" id="filterShow">V</a>
    <%= link_to "View All Students", {controller: "students", action: "index", sort: "all"}, remote: true, class: "filterMentors filterMentorsSelected" %>
    <div id="filterMentorsCompany">
      <%# if @classes.any? %>
        <%# @classes.each do |cf_class| %>
            <%# link_to "From #{cf_class.capitalize}", {controller: "students", action: "index", sort: cf_class }, remote: true, class: "filterMentors" %>
        <%# end %>
      <%# end %>
    </div>
  </div>
  <div id="studentsLinksDiv">
      <% if @students.present? %>
        <ul class="studentLinks">
          <% @students.each do |student| %>
            <% @student = student %>
            <%= render "studentlink", :locals =>{post: @student} %>
          <% end %>
        </ul>
      <% else %>
        <p class="emptyStudents">
          No students available
        </p>
      <% end %>
  </div>
</div>
<div id="showcase" class="small-9 columns">
</div>