// Place all the styles related to the mentors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	clear: both;
	margin: 0 0 20px 0;
	overflow: auto;
	padding: 5px 10px 5px 10px;
}
header img{
	float: left;
}
nav{
}
#wrapper{
	margin: auto;
	padding: 5px 10px 5px 10px;
	width: 90%;
}